a, a:link, a:active, a:visited {
  text-decoration: none;
}

@font-face {
  font-family: 'ArchivoBlack';
  src: url(./views/fonts/Archivo_Black/ArchivoBlack-Regular.ttf) format('woff2');
  font-display: swap;
}
